{:paths ["src" "resources"]

 :deps {stasis/stasis             {:mvn/version "2023.11.21"}
        org.commonmark/commonmark {:mvn/version "0.27.1"}
        org.commonmark/commonmark-ext-heading-anchor {:mvn/version "0.27.1"}
        org.commonmark/commonmark-ext-gfm-tables {:mvn/version "0.27.1"}
        clj-commons/clj-yaml      {:mvn/version "1.0.27"}
        hiccup/hiccup             {:mvn/version "2.0.0-RC3"}
        ring/ring-jetty-adapter   {:mvn/version "1.12.2"}
        org.clojure/data.json     {:mvn/version "2.5.1"}
        org.slf4j/slf4j-simple    {:mvn/version "2.0.16"}}

 :aliases
 {:build {:main-opts ["-m" "blog.core" "build"]}
  :serve {:main-opts ["-m" "blog.core" "serve"]}
  :test  {:extra-paths ["test"]
          :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                              :git/sha "dfb30dd"}
                        hickory/hickory                  {:mvn/version "0.7.1"}
                        ring/ring-jetty-adapter          {:mvn/version "1.12.2"}}
          :main-opts   ["-m" "cognitect.test-runner" "-d" "test/blog"]}
  :unit  {:extra-paths ["test"]
          :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                               :git/sha "dfb30dd"}
                        hickory/hickory              {:mvn/version "0.7.1"}
                        ring/ring-jetty-adapter      {:mvn/version "1.12.2"}}
          :main-opts   ["-m" "cognitect.test-runner" "-d" "test/blog/unit"]}
  :integration {:extra-paths ["test"]
                :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                     :git/sha "dfb30dd"}
                              hickory/hickory              {:mvn/version "0.7.1"}
                              ring/ring-jetty-adapter      {:mvn/version "1.12.2"}}
                :main-opts   ["-m" "cognitect.test-runner" "-d" "test/blog/integration"]}
  :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.3"}}
           :main-opts  ["-m" "cljfmt.main"]}
  :shadow {:extra-deps  {thheller/shadow-cljs {:mvn/version "2.28.18"}}
           :main-opts   ["-m" "shadow.cljs.devtools.cli"]}}}
